.maintitle {
font-family: Gill Sans / Gill Sans MT, sans-serif;
padding-top: 12px;
font-size: 34px;
font-style: bold;
font-variant: normal;
font-weight: bold;
}
.eportfolio {
font-family: "Lucida Console", Monaco, monospace;
font-size: 24px;
font-variant: normal;
}
.kontent {
font-size: 18px;
padding-top: 20px;
padding-left: 25px;
padding-right: 25px;

}
.resume {
margin-left: auto;
margin-right: auto;
text-align: center;
display: block;


}
.minor {
    font-size:10px;
    text-align: center;
    display: block;
}
#fadedh {
    text-align: center;
    font-size: 22px;
    opacity: 1;
    font-weight: bold;
    font-family: Monospace;
}
